Repository beaty-sas/notification_service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit-security-check, safety-production-dependencies-check, safety-development-dependencies-check

mypy:
  name: Mypy check
  entry: sh -c 'mypy --config-file=.mypy.ini notification_service || exit 1'
  language: system
  pass_filenames: false

bandit-security-check:
  name: Bandit security check
  entry: bandit
  args:
  - -q
  - -x
  - test
  language: system

safety-production-dependencies-check:
  name: Safety production dependencies check
  entry: bash -c 'poetry export -f requirements.txt | safety check --full-report --stdin -i 51159'
  language: system

safety-development-dependencies-check:
  name: Safety development dependencies check
  entry: bash -c 'poetry export -f requirements.txt --with dev | safety check --full-report --stdin -i 51159'
  language: system

base smsm service
  whitelist.txt
Due: none

update mypy issues
  notification_service/clients/base_http.py
  notification_service/clients/bsg.py
  notification_service/conf/logger.py
  notification_service/conf/settings.py
  notification_service/handler.py
  whitelist.txt
Due: mypy, bandit-security-check

added workflows
  .github/workflows/buildandpush.yml
Due: none

fix image name
  .github/workflows/buildandpush.yml
Due: none

fix docker
  Dockerfile
  deploy.bash
Due: none

fix reference
  notification_service/clients/bsg.py
Due: mypy, bandit-security-check

wip
  notification_service/clients/bsg.py
Due: mypy, bandit-security-check

decode
  notification_service/clients/bsg.py
Due: mypy, bandit-security-check

update coding
  notification_service/clients/bsg.py
  notification_service/sms/new_order.py
Due: mypy, bandit-security-check

add sns client
  notification_service/clients/sns.py
  notification_service/sms/base.py
Due: mypy, bandit-security-check

add boto3
  Dockerfile-local
  bin/bash
  bin/poetry
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: safety-production-dependencies-check, safety-development-dependencies-check

add telegram client
  notification_service/clients/__init__.py
  notification_service/clients/telegram.py
  notification_service/conf/settings.py
  notification_service/handler.py
  notification_service/schemas/sms.py
  notification_service/schemas/sqs.py
  notification_service/services/__init__.py
  notification_service/services/sms_service.py
  notification_service/sms/base.py
  poetry.lock
  pyproject.toml
Due: mypy, bandit-security-check, safety-production-dependencies-check, safety-development-dependencies-check

add async iogs
  notification_service/clients/bsg.py
  notification_service/sms/base.py
Due: mypy, bandit-security-check

remove async
  notification_service/clients/bsg.py
  notification_service/clients/sns.py
  notification_service/clients/telegram.py
  notification_service/sms/base.py
Due: mypy, bandit-security-check

remove async
  notification_service/clients/telegram.py
  notification_service/handler.py
Due: mypy, bandit-security-check

rename
  notification_service/clients/__init__.py
  notification_service/clients/tgram.py
Due: mypy, bandit-security-check

Path conditions:
  mypy: any of: ^notification_service/.*\.py$, but not: fixtures/|.gitlab-ci.yml
  bandit-security-check: any of: notification_service/, but not: fixtures/|.gitlab-ci.yml
  safety-production-dependencies-check: any of: poetry.lock, but not: fixtures/|.gitlab-ci.yml
  safety-development-dependencies-check: any of: poetry.lock, but not: fixtures/|.gitlab-ci.yml
